.bs-callout.bs-callout-info
  - if signed_in?
    %button.close{:"data-dismiss" => "alert"} &times;
  %h3 Добро пожаловать!
  %p
    Данный сервис позволяет сделать альтернативную настройку для
    %a{:href => 'http://technet.microsoft.com/en-us/library/cc766017(WS.10).aspx' } Windows NCSI
    , для отслеживания откуда последний раз было подключение к сети с настроенного компьютера.

  %p
    После добавлени для удобства можно скачать готовый файл,
    который необходимо будет выполинть, чтобы применить настройку.
    В любой момент вы можете скачать файл с настройками по-умолчанию.