/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'bootstrap'
 *= require_self
 *= require_tree .
 */


.loginframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}

.avatar {
    margin-top: -25px;
    margin-bottom: -22px;
    margin-right: 10px;
    margin-left: 0px;
    width: 50px;
}

.login a
{
    font-size: 2em;
}

.login {
    text-align: center;
}

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    background-color: #FFFFFF;
    border-radius: 3px;
}
.bs-callout-danger {
    background-color: #FDF7F7;
    border-color: #D9534F;
}
.bs-callout-danger h4 {
    color: #D9534F;
}
.bs-callout-warning {
    background-color: #FCF8F2;
    border-color: #F0AD4E;
}
.bs-callout-warning h4 {
    color: #F0AD4E;
}
.bs-callout-info {
    background-color: #F4F8FA;
    border-color: #5BC0DE;
}
.bs-callout-info h4 {
    color: #5BC0DE;
}

.container.main
{
    height: 100%;
}

body, html
{
    height: 100%;
}
.wrapper {
    min-height: 100%;
    padding-bottom: 100px;
    position: relative;

}

.wrapper .vector-footer {
    border-top: 1px solid #E5E5E5;
    background: #FCFCFC;
    bottom: 0;
    height: 35px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.footer-content {
    font-size: 0.85em;
    line-height: 0;
    padding-top: 8px;
    white-space: nowrap;
}

.footer-info {
    color: #737373;
}

ul.footer-info li {
    float: left;
    line-height: 20px;
    margin: 0 10px;
    list-style: none;
}